<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">訂閱粉絲專頁</p>
			<p>如果你想要有獨木舟海景山莊的資訊，可以留下信箱和隨時關注FB粉絲專頁</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">首頁</a></li>
					<li><a href="/products" class="link">房型與活動</a></li>
					<li><a href="/values" class="link">關於獨木舟</a></li>
					<li><a href="/post" class="link">部落格</a></li>
					<li><a href="/contact" class="link">聯絡方式</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">更多資訊</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">最新消息</a></li>
					<li><a href="/contact" class="link">交通方式</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">社群網站</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
